.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    background: green;
}
.headerBar{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}